body {
    background-color:   #EAF4EB;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 991px) {
    .project-card {
        max-width: 400px !important;
    }
}

.heading-style {
    font-family: 'Poppins';
    color: #2C3E50;
}

.text-body-style {
    font-family: 'Mulish';
    color: #595959;
}

.custom-card {
    background-color: #C5D8C5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.05);
    border: none;
}

.project-img:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.bio-card {
    border: none;
    background-color: #EAF4EB;
}

.link-icon {
    color: #6B7280;
}

.link-icon:hover {
    color:  #4B5563;
}

.navbar-link {
    color: 	#E0E5EC;
}

.navbar-link:hover {
    color: #C4CDD5;
}

.non-link-icon {
    color: #3B82F6;
}